


/* Pantall de seleccion*/

#seleccion{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: minmax(1em auto);
    grid-gap: 2em;
}


#player00{


    grid-row: 1;
    padding-bottom: 1em;
    padding-top: 1em;
}

#player01{


    grid-row: 1;
    padding-bottom: 1em;
    padding-top: 1em;
}

#player02{


    grid-row: 1;
    padding-bottom: 1em;
    padding-top: 1em;
}

#player03{
    grid-row: 1;
    padding-bottom: 1em;
    padding-top: 1em;
}


#game{

    padding-bottom: 40rem;
}

body{
    background-color: cadetblue;
}


/* Pantalla del juego*/

#buttonPlayers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax(1em auto);
    grid-gap: 2em;
}

#bonAtackP1{

    margin-left:2em;
    grid-row: 1; 
    margin-top: 25em;
}

#bonAtackP2{
    margin-left:2em;
    grid-row: 1;
    margin-top: 25em;
}


/*  Live   */

.live{ 
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(1em auto);
    grid-gap: 2em;
}

#p1Live{
    margin-left:2em;
    grid-row: 1; 
}


#p2Live{
    
    grid-row: 1; 
}

.liveBar{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(1em auto);
    grid-gap: 2em;
}
#slider{
    background-color:crimson;
    padding-left: 2em;
    padding-bottom: 1em;
    grid-row: 1; 
}
#sliderP2{
    background-color:crimson;
    padding-left: 2em;
    padding-bottom: 1em;
   grid-row: 1;
}




