
@media (min-width: 310px) and (max-width: 425px){

/*  Body */
    body{
    background-coloR:black  
 }

/* HEAD  */
.botonesTop{
    justify-content: left;
    position:sticky;
}
.sobreMi{
    position: fixed;
    top:17em;
    left:0;
    background-color: black;
    color: aliceblue;
    border: 0em;
    font-family:  New, monospace;
    font-size: 2em;
}
.contacto{
    position: fixed;
    top:17em;
    left:8em;
    background-color: black;
    color: aliceblue;
    border: 1em;
    font-family:  New, monospace;
    font-size: 2em;
}
.contacto:hover{
    color: gray;
}
/* WEB DESIGN */
.webDesignDiv{ 
    display: flex;
    top: 3em;
    left: 0;
    font-size: 4em;
    color: white;
    margin-bottom:  2rem;
}
.web{
    text-align:auto;
    font-size: 2em;
    color: rgb(253, 253, 253);
    font-family:  New, monospace;
    margin-left: 0.5em;
}
.design{
    text-align:auto;
    font-size: 2em;
    color: white;
    font-family:  New, monospace;
    margin-top:2em;
    margin-left: 1.5em;
}

/* FOTO */

.img{
    width: 60em;
    padding-bottom: 2em;
}

/* FOOTER */

.footer{
    position:sticky;
    display: flex;
}
.rrss{
    display: flex;
    font-size: 2em;
}

.github{
    font-family: Courier New, monospace;
    text-align: bottom;
    font-size: 1.5em;
    color: aliceblue;
    margin-right: 1em;
}
.instagram{
    font-family: Courier New, monospace;
    text-align: bottom;
    font-size: 1.5em;
    color: aliceblue;
    margin-right: 1em;
}
.linkedin{
    font-family: Courier New, monospace;
    text-align: bottom;
    font-size: 1.5em;
    color: aliceblue;
}

}


/* Smartphones (portrait and landscape) ----------- */  
@media all and (min-width : 728px) and (max-width: 4000px){
 
/* HEADER*/
.enlaceJuego{
    display: flex;
    justify-content: end;
    height: 2rem;
    background-color: black;
}
.botonJuego{
    background-color: black;
    color: aliceblue;
    font-family: Courier New, monospace;
    font-size: 2em;
}
.botonJuego:hover{
    color: gray;
}
.botonesTop{
    display: flex;
    justify-content:right;   
}
.sobreMi{
   text-align: center;
    background-color: black;
    color: aliceblue;
    border: 0em;
    font-family:  New, monospace;
    margin-left: 5em;
    font-size: 2em;
}
.sobreMi:hover{
    background-color: gray;
}
.contacto{
    text-align: center;
    flex:auto;
    background-color: black;
    color: aliceblue;
    border: 1em;
    font-family:  New, monospace;
    font-size: 2em;
}
.contacto:hover{
    color: gray;
}

/* BODY*/

body{  
   background-coloR:black
}
.mainImagen{
    display: flex;
    border-radius: 4em;
}
.imagenMain{
    flex:auto;
    padding-top: 2em;
    position: static;
}

/* WEB DESIGN*/

.webDesignDiv{ 
    display: flex;
    position: sticky;
    top: 0em;
    left: 0;
    font-size: 4em;
    color: white;
    margin-bottom:  2rem;
}
.web{
    text-align:auto;
    font-size: 2em;
    color: rgb(8, 8, 8);
    position: fixed;
    font-family:  New, monospace;
    margin-left: 0.5em;
}
.design{
    text-align:auto;
    font-size: 2em;
    color: white;
    position: fixed;
    font-family:  New, monospace;
    margin-top:2em;
    margin-left: 1.5em;
}
.color{
    background-color:black;
    display:flex;
    position:sticky;
    top: 10em;
    left: 0;
    font-size: 4em;
    margin-bottom:  2rem;
}

.img{
    width: 20em;
    padding-bottom: 2em;
}

/*  Footer */

.rrss{
    position:sticky;
    display: grid;
    padding-top: 27em;
    grid-template-columns: 2fr,3fr,2fr;
    grid-template-rows: 1fr,1fr,1fr;
}
.redes{
    font-family: Courier New, monospace;
    text-align: bottom;
    font-size: 1.5em;
    color: aliceblue;
    margin-top: 2em;
    margin-left: 1em;
}
.github{
    grid-column-start:1;
    font-family: Courier New, monospace;
    text-align: bottom;
    font-size: 1.5em;
    color: aliceblue;
    margin-top: 2em;
    margin-left: 1em;
}
.instagram{
    font-family: Courier New, monospace;
    text-align: bottom;
    font-size: 1.5em;
    color: aliceblue;
    margin-top: 2em;
    margin-left: 1em;
    grid-column-start:2;
}
.linkedin{
    font-family: Courier New, monospace;
    text-align: bottom;
    font-size: 1.5em;
    color: aliceblue;
    margin-top: 2em;
    margin-left:2em;
    grid-column-start:3;
}

}