
/* Smartphones (portrait and landscape) ----------- */  
@media only screen  
and (min-width : 320px)  
and (max-width : 480px) {  
/* Styles */  
.botonesTop{
    display:flex;
}
.sobreMi{
    position: relative;
    left:20em
}
.contacto{
    position: relative;
    left: 20em;
}
} 


/* Smartphones (portrait and landscape) ----------- */  
@media all  
 {  
/* Styles */  



/* HEADER*/
.enlaceJuego{
    display: flex;
    justify-content: end;
    height: 2rem;
    background-color: black;
}
.botonJuego{
    background-color: black;
    color: aliceblue;
    border: 0em;
    font-family: Courier New, monospace;
}
.botonJuego:hover{
    color: gray;
}
.botonesTop{
    display: flex;
    justify-content:right;   
}
.sobreMi{
    z-index:2;
    background-color: black;
    color: aliceblue;
    border: 0em;
    font-family:  New, monospace;
    margin-right:2em;
}
.sobreMi:hover{
    background-color: gray;
}

.contacto{
    
    background-color: black;
    color: aliceblue;
    border: 1em;
    font-family:  New, monospace;
}
.contacto:hover{
    color: gray;
}

/* BODY*/

body{
    background-color: rgb(0, 0, 0);   
}
.mainImagen{
    display: flex;
    align-items:flex-end;
}
.imagenMain{
    align-self: center;
    /* Tamaño*/
    width:50em;
    height: 50em;
    /*Posicion*/
    z-index: 5;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 5em;
    
}


.webDesignDiv{
    z-index: 2;
    font-size: 4em;
    color: white;
    position: sticky;
    top:1em;
}
.webDesign{
    z-index: 9;
    font-size: 4em;
    color: white;
    position: fixed;
}


}